:root {

    /* Colors: */
    --unnamed-color-00242e: #00242E;
    --unnamed-color-a97900: #A97900;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-f5f5f5: #F5F5F5;
    
    /* Font/text values */
    --unnamed-font-family-sf-pro-text: SF Pro Text;
    --unnamed-font-family-algerian: Algerian;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-300: 300px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-15: 15px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-17: 17px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-19: 19px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-25: 25px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-27: 27px;
    --unnamed-font-size-38: 38px;
    --unnamed-font-size-41: 41px;
    --unnamed-font-size-60: 60px;
    --unnamed-font-size-81: 81px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-14: 14px;
    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-21: 21px;
    --unnamed-line-spacing-23: 23px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-31: 31px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-45: 45px;
    --unnamed-line-spacing-49: 49px;
    --unnamed-line-spacing-71: 71px;
    --unnamed-line-spacing-107: 107px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-31);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-11 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-12 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a97900);
    }
    .unnamed-character-style-13 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-14 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-15 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a97900);
    }
    .unnamed-character-style-16 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f5f5f5);
    }
    .unnamed-character-style-17 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-17);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-18 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-19 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-20 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-21 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-22 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-19);
    line-height: var(--unnamed-line-spacing-23);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-23 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-60);
    line-height: var(--unnamed-line-spacing-71);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-24 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-17);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-25 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-17);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-26 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-27);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-27 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-28 {
    font-family: var(--unnamed-font-family-algerian);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-81);
    line-height: var(--unnamed-line-spacing-107);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-29 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-38);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-30 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-25);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-31 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-19);
    line-height: var(--unnamed-line-spacing-23);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }
    .unnamed-character-style-32 {
    font-family: var(--unnamed-font-family-sf-pro-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-41);
    line-height: var(--unnamed-line-spacing-49);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00242e);
    }


    .form {
        display: flex;
        align-items: center;
        height: 100vh;
    }

Form{
    box-sizing:border-box;
    width: 343px;;
    height: 471px;
    margin: auto;

    
    padding: 25px 25px 25px 25px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #0000004D;
    border-radius: 25px;
    opacity: 1;
  

}
label{
    font-weight: bold;
    display: flex;
  
}

#email, #password{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
   
}
.header{
    display: flex;
    justify-content: space-between;
    
    
}
.check{
    display: flex;
}
.form-control.checkbox{
    display: flex;
    justify-content: space-between;

}
.giris{
    font-size: 26px;
}
.exit-button {
    border: none;
    background-color: white;
    width: 18px;
    height: 18px;

}


.password {
 width: 100%;
 

    
    }
.password-wrapper{
    position: relative;

}

.password-wrapper img {
position: absolute;
transform: translateY(-50%);
right: 5px;
width: 18px;
height: 18px;
top: 50%;
z-index: 3;
}

.form-control{
    
    margin: 15px;
 
    
}

.button{
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #A97900 0% 0% no-repeat padding-box;
border-radius: 5px;
color: #F5F5F5;
font: normal normal bold 18px/21px SF Pro Text;
letter-spacing: var(--unnamed-character-spacing-0);

    
}
.password-toogle-icon{
    position:absolute;
    top: 8px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.last{
 display: flex;
 flex-direction: column;
align-items: center;
 
 
}


/*

width: 100%;
height: 100%;
padding: 15px;
UI Properties 
background: var(--unnamed-color-a97900) 0% 0% no-repeat padding-box;
background: #A97900 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
UI Properties 
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-sf-pro-text);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-f5f5f5);
text-align: center;
font: normal normal bold 18px/21px SF Pro Text;

color: #F5F5F5;
opacity: 1;

box-sizing: border-box;

*/












