.avukatLoginPage {
  margin-top: 20vh;
  width: 30%;
  padding-right: 3%;
  box-sizing: border-box;
}

.avukatLoginPageRow {
  line-height: 0%;
  margin-left: -5%;
}

.formSelect {
  margin: 18% 8%;
}
.formCheckBox {
  display: flex;
  gap: 2rem;
  text-align: left;
}

.formCheckBoxSpan {
  color: orange;
  cursor: pointer;
}

.formButtons button {
  padding: 5px;
  border-radius: 4px;
  width: 20%;
}

.formButtons :first-child {
  margin-right: 2rem;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.formButtons :last-child {
  background-color: orange;
  color: white;
  border: none;
}

.avukatLoginPage p span {
  color: orange;
  cursor: pointer;
}
