.lawyer-card-container {
    display: flex;
    margin: 2rem;
    padding-bottom: 20px;
}

.lawyer-card {
  width: 70rem;
  margin: 0 2rem 0 8rem;
  border: 1px solid #a97900;
  padding: 1rem 0 0 1rem;
}



.lawyer-card-dates {
    border: 1px solid #a97900;
    border-radius: 8px;
    padding: 0 rem;
    max-height:45rem;
    
}

.lawyer-card-dates-top {
    text-align: center;
    background-color: #a97900;
    color: white;
    margin-top: 0rem;
    padding-top: 0rem;
    border-radius: 8px 8px 0 0 ;
}

.lawyer-rating-button {
  background-color: #a97900;
  width: 6rem;
  height: 6rem;
  color: black;
  font-size: 1.9rem;
  font-weight: bold;
  border: none;
  border-radius: 1.2rem;
}

.lawyer-card-user-comment{
    display: flex;
    margin-top:2rem
}

.lawyer-card-commentshead {
    border-bottom: 2px solid #a97900;
    margin: 8px;
    
}
.lawyer-card-comments-body{
     border-bottom: 2px solid #a97900;
}

.lawyer-card-comments-box{
    background-color: #a97900;
}

.lawyer-comment-button {
 margin: auto;
 margin-bottom: 2rem;
  background-color: #a97900;
  width: 26rem;
  height: 2;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1.2rem;
}
.navbar{
    display: flex;
  /* margin: auto; */
   margin-left: 0;
  margin-bottom: 0;
  /* border: 2px solid red; */

}

.navbar ul{
    display: flex;
  margin: auto;
  margin-left: 0;
  margin-bottom: 0;
  

}
.navbar li {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  list-style: none;
  margin-right: 5px;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.detail-link {
  text-decoration: none;
  text-transform: capitalize;
  color: black; 
  font-weight: 500;
  font-size: 18px;
      }