.formDiv {
  height: 80vh !important;
  width: 100%;
  overflow: scroll;
}

label {
  width: 100%;
  text-align: center;
}

.form-control {
  margin-left: -3% !important;
}

.custom-select {
  margin-top: 7%;
  margin-left: 7% !important;
  margin-bottom: 13%;
  height: 3rem;
}
.custom-select brans {
  margin-top: 1rem !important;
  width: 20rem !important;
  height: 2rem;
  padding: 0 1rem;
  margin-top: 3px;
}

.telDiv {
  gap: 1rem;
  height: 24.5%;
}

span {
  color: orange;
}
.labelText {
  margin-left: 2rem;
}
.loginPageButtons {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 2rem;
}

.loginPageButtons button {
  padding: 5px;
  border-radius: 4px;
  width: 25%;
}
.loginPagebtn1 {
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 900;
}
.loginPagebtn2 {
  border: none;
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}
p {
  text-align: center;
}

#password2 {
  margin-top: 8px;
}
