* {
  font-size: 1.5rem;
}

.search-card-container {
  margin: auto;
  width: 100rem;
}

.search-card-lawyer {
  width: 100rem;
  border: 1px solid #a97900;
  padding: 1rem 0 0 1rem;
}

.card-container button {
  font-size: 1rem;
  padding: 0 1rem;
}

.search-active {
  background-color: brown !important;
  color: yellow !important;
  border: none;
}

.button2 {
  width: 25rem;
  height: 4rem;
  font: rgb(24, 1, 1);
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0;
  size: 1px;
}

.search-form {
  width: 25rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 4rem;
  border-radius: 1rem;
}

.search-select-input {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  border: none;
}

.search-inputbutton {
  background-color: #a97900;
  width: 10rem;
  height: 4rem;
  font: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.2rem;
}

.like {
  width: 3rem !important ;
  height: 3rem;
  background-color: white;
  border: none;
}
.tarih {
  font-size: 0.6rem;
  text-align: center;
}

.right-box {
  width: 50rem;
  border-left: 1px solid #a97900;
  margin-left: 1rem;
}

.right-box-comment {
  border-left: 2px solid #a97900;
}

.star {
  color: #a97900;
}
.time {
  size: 2rem;
}

.much {
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  color: #a97900;
}
.search-caret {
  border: none;
  color: #a97900;
}

.extra-content {
  font-weight: 500;
}

.more {
  display: flex;
  justify-content: end;
  color: #a97900;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.search-select {
  width: 25rem;
  justify-content: center;
  border-radius: 0.5rem;
  border: #f4f3ef;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.081);
}

.kayit {
  border: red;
  border-radius: 50px;
  border-width: 20px;
}

.search-hoursbutton {
  background-color: #a97900;
  width: 6rem;
  height: 2.2rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 1.2rem;
}
.selected {
  background-color: white;
  color: gray;
  text-decoration: line-through;
  border: 1px solid gray;
}
