.card-container button{
  font-size: 1rem;
  padding: 0 1rem;
}

.active{
  background-color: brown !important;
  color: yellow !important;
}



.counter{
font-size: 0.7rem;
padding: -0.2;
}

.button2 {
  width: 25rem;
  height: 4rem;
  font: rgb(24, 1, 1);
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0;
  size: 1px;
  
}

.search-form{
  width: 25rem;
  height: 4rem;


}


.like {
  width: 3rem !important ;
  height: 3rem;
  background-color: white;
  border: none;
}
.tarih {
  font-size: 0.6rem;
  text-align: center;
}

.right-box {
  border-left: 2px solid #A97900;
}

.star {
  color: #A97900;
}
.time {
  size: 2rem;
}

.much {
  font-size: 1rem;
  text-align: center;
  color: #A97900;
  
}
.read-more-link{
  
  color: #A97900;
  cursor: pointer;
  margin-left: 10rem;
  background-color: #61dafb;
  
  
  
}
.extra-content{
  font-weight: 500;
  
}

.more {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  margin-right: 1rem;
  
}

.search-select {
  justify-content: center;
  border-radius: 0.5rem;
  border:#f4f3ef;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.081);
}

.kayit {
  border: red;
  border-radius: 50px;
  border-width: 20px;
  
}